<div class="container">

    <form [formGroup]="registrationForm" (ngSubmit)="submitRegistration()" novalidate>
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" formControlName="name" required autofocus />
        </div>

        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" formControlName="email" required />
        </div>

        <div class="form-group">
            <label>Phone</label>
            <input type="text" class="form-control" formControlName="phone" required />
        </div>

        <div>
            <input type="file" (change)="handleFileInput($event)">
        </div>

        <div class="form-group">
            <label>Performer Type</label>
            <select class="form-control" formControlName="performerType" required>
                <option *ngFor="let type of performerTypes" [value]="type">
                    {{type}}
                </option>
            </select>
        </div>

        <div class="form-group">
            <label>Ticket Price</label>
            <input type="number" class="form-control" formControlName="ticketPrice" required />
        </div>

        <div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>

    </form>
</div>
