<div class="container">
    <div class="row">
        <a class="btn btn=primary" routerLink="/admin">Back to List</a>
    </div>
    <div>
        <div class="form-group">
            <label>Buyer Name</label>
            <div class="form-control">{{bikeRegistration.name}}</div>
        </div>
        
        <div class="form-group">
            <label>Email</label>
            <div class="form-control">{{bikeRegistration.email}}</div>
        </div>
        
        <div class="form-group">
            <label>Phone</label>
            <div class="form-control">{{bikeRegistration.phone}}</div>
        </div>
        
        <div class="form-group">
            <label>Bike Model</label>
            <div class="form-control">{{bikeRegistration.model}}</div>
        </div>
        
        <div class="form-group">
            <label>Bike Serial Number</label>
            <div class="form-control">{{bikeRegistration.serialNumber}}</div>
        </div>
        
        <div class="form-group">
            <label>Purchase Price</label>
            <div class="form-control">{{bikeRegistration.purchasePrice}}</div>
        </div>
        
        <div class="form-group">
            <label>Purchase Date</label>
            <div class="form-control">{{bikeRegistration.purchaseDate}}</div>
        </div>
    </div>
</div>