<div class="container">
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let band of bands">
            <span class="badge">{{band.id}} {{band.name}}</span>
            <img class="rounded" [src]="imageUrls.get(band.id)"/>
        </li>
    </ul>

</div>
