<header>
    <div>
        <nav>
            <ul>
                <li><a [ngClass]="isActive('home')" routerLink="/" (click)="activate('home')">Home</a></li>
                <li><a [ngClass]="isActive('bands')" routerLink="/bands" (click)="activate('bands')">Bands</a></li>
                <li><a [ngClass]="isActive('performers')" routerLink="/performers"
                        (click)="activate('performers')">Performers</a></li>
                <li><a [ngClass]="isActive('locations')" routerLink="/locations"
                        (click)="activate('locations')">Locations</a></li>
                <li><a [ngClass]="isActive('tickets')" routerLink="/tickets" (click)="activate('tickets')">Tickets</a>
                </li>
                <li><a [ngClass]="isActive('register')" routerLink="/register"
                        (click)="activate('register')">Register</a></li>
                <li><a [ngClass]="isActive('search')" routerLink="/search" (click)="activate('search')">Search</a></li>
                <li><a [ngClass]="isActive('liked')" routerLink="/liked" (click)="activate('liked')">Liked</a></li>
                <li><a [ngClass]="isActive('admin')" routerLink="/admin" (click)="activate('admin')">Admin</a></li>
            </ul>
        </nav>
    </div>
</header>